.contentWrapper{
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.project{
    width: 500px;
    height: 450px;
    border-radius: 15px;
    border: 2px solid rgba(0, 136, 169, 1);
    margin: 50px;
    overflow: hidden;
    padding: 10px;
    color: white;
    position: relative;

    -webkit-box-shadow: 0 0 15px 0 rgba(0,117,145,1);
    -moz-box-shadow: 0 0 15px 0 rgba(0,117,145,1);
    box-shadow: 0 0 15px 0 rgba(0,117,145,1);
}
.clip{
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.project-info{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    font-size: 1.2rem;
}
.project-name{
    color: rgba(0, 136, 169, 1);
    font-size: 1.5rem;
}